:root {
  // ==================
  // Global
  // ==================

  --global-input-shadow: 0px 1px 2px 0px color-mix(in srgb, var(--c-gray-120) 20%, transparent);

  --global-border-radius-small: 6px;
  --global-border-radius-medium: 8px;
  --global-border-radius-large: 10px;

  --transition-global-duration: .27s;
  --transition-global-timing-function: ease-in-out;

  // ==================
  // Buttons
  // ==================

  --c-gray-120: #2C3E50;
  --c-gray-110: #415162;
  --c-gray-100: #566573;
  --c-gray-90: #6B7885;
  --c-gray-80: #808B96;
  --c-gray-70: #969FA8;
  --c-gray-60: #ABB2B9;

  --c-green-120: #246645;
  --c-green-110: #339162;
  --c-green-100: #40B87C;
  --c-green-90: #76CFA2;
  --c-green-80: #B5F2D3;
  --c-green-70: #D5F8E6;
  --c-green-60: #ECF8F2;

  --c-blue-120: #003E78;
  --c-blue-110: #0057A8;
  --c-blue-100: #006FD7;
  --c-blue-90: #41A3FF;
  --c-blue-80: #A7D4FF;
  --c-blue-70: #CDE7FF;
  --c-blue-60: #EBF4FC;

  --c-indigo-120: #2D2583;
  --c-indigo-110: #4034B8;
  --c-indigo-100: #5E51F4;
  --c-indigo-90: #7A6FEA;
  --c-indigo-80: #B6B1F4;
  --c-indigo-70: #CCC9F7;
  --c-indigo-60: #E7E5FB;

  --c-violet-120: #451683;
  --c-violet-110: #601FB6;
  --c-violet-100: #7C34DC;
  --c-violet-90: #A16DE6;
  --c-violet-80: #C8A2FB;
  --c-violet-70: #E0CAFD;
  --c-violet-60: #F4EBFF;

  --c-red-120: #A91F15;
  --c-red-110: #D2261A;
  --c-red-100: #E84E44;
  --c-red-90: #EF827A;
  --c-red-80: #FFC4BF;
  --c-red-70: #FFDCD9;
  --c-red-60: #FFEFEF;

  --c-orange-120: #AC5600;
  --c-orange-110: #DB6D00;
  --c-orange-100: #FF7F00;
  --c-orange-90: #FFA449;
  --c-orange-80: #FFC892;
  --c-orange-70: #FFDDBA;
  --c-orange-60: #FFEDDB;

  --c-yellow-120: #A47B00;
  --c-yellow-110: #D9A301;
  --c-yellow-100: #FFBF00;
  --c-yellow-90: #FFD65B;
  --c-yellow-80: #FFEB8C;
  --c-yellow-70: #FFF2B9;
  --c-yellow-60: #FFF8DB;

  --c-white-100: #FFFFFF;
  --c-black-100: #000000;


  // ==================
  // Buttons
  // ==================

  // Colors: WHITE
  --cell-button-bg-color-white: var(--c-white-100);
  --cell-button-color-white: var(--c-gray-120);
  --cell-button-border-color-white: var(--c-gray-80);

  --cell-button-bg-color-hover-white: var(--c-white-100);
  --cell-button-color-hover-white: var(--c-gray-120);
  --cell-button-border-color-hover-white: var(--c-gray-100);

  --cell-button-bg-color-active-white: var(--c-white-100);
  --cell-button-color-active-white: var(--c-gray-120);
  --cell-button-border-color-active-white: var(--c-gray-120);

  --cell-button-bg-color-disabled-white: var(--c-gray-80);
  --cell-button-color-disabled-white: var(--c-white-100);
  --cell-button-border-color-disabled-white: var(--c-gray-80);

  // Colors: GREEN
  --cell-button-bg-color-green: var(--c-blue-100);
  --cell-button-color-green: var(--c-white-100);
  --cell-button-border-color-green: var(--c-blue-100);

  --cell-button-bg-color-hover-green: var(--c-blue-110);
  --cell-button-color-hover-green: var(--c-white-100);
  --cell-button-border-color-hover-green: var(--c-blue-110);

  --cell-button-bg-color-active-green: var(--c-blue-120);
  --cell-button-color-active-green: var(--c-white-100);
  --cell-button-border-color-active-green: var(--c-blue-120);

  --cell-button-bg-color-disabled-green: var(--c-gray-80);
  --cell-button-color-disabled-green: var(--c-white-100);
  --cell-button-border-color-disabled-green: var(--c-gray-80);

  // Colors: RED
  --cell-button-bg-color-red: var(--c-red-100);
  --cell-button-color-red: var(--c-white-100);
  --cell-button-border-color-red: var(--c-red-100);

  --cell-button-bg-color-hover-red: var(--c-red-110);
  --cell-button-color-hover-red: var(--c-white-100);
  --cell-button-border-color-hover-red: var(--c-red-110);

  --cell-button-bg-color-active-red: var(--c-red-120);
  --cell-button-color-active-red: var(--c-white-100);
  --cell-button-border-color-active-red: var(--c-red-120);

  --cell-button-bg-color-disabled-red: var(--c-gray-80);
  --cell-button-color-disabled-red: var(--c-white-100);
  --cell-button-border-color-disabled-red: var(--c-gray-80);

  // Colors: GHOST WHITE
  --cell-button-bg-color-ghost-white: transparent;
  --cell-button-color-ghost-white: var(--c-gray-120);
  --cell-button-border-color-ghost-white: transparent;

  --cell-button-bg-color-hover-ghost-white: var(--c-gray-70);
  --cell-button-color-hover-ghost-white: var(--c-gray-120);
  --cell-button-border-color-hover-ghost-white: var(--c-gray-70);

  --cell-button-bg-color-active-ghost-white: var(--c-gray-80);
  --cell-button-color-active-ghost-white: var(--c-gray-120);
  --cell-button-border-color-active-ghost-white: var(--c-gray-80);

  --cell-button-bg-color-disabled-ghost-white: transparent;
  --cell-button-color-disabled-ghost-white: var(--c-gray-90);
  --cell-button-border-color-disabled-ghost-white: transparent;

  // Colors: GHOST RED
  --cell-button-bg-color-ghost-red: transparent;
  --cell-button-color-ghost-red: var(--c-gray-120);
  --cell-button-border-color-ghost-red: transparent;

  --cell-button-bg-color-hover-ghost-red: var(--c-red-60);
  --cell-button-color-hover-ghost-red: var(--c-gray-120);
  --cell-button-border-color-hover-ghost-red: var(--c-red-60);

  --cell-button-bg-color-active-ghost-red: var(--c-red-80);
  --cell-button-color-active-ghost-red: var(--c-gray-120);
  --cell-button-border-color-active-ghost-red: var(--c-red-80);

  --cell-button-bg-color-disabled-ghost-red: transparent;
  --cell-button-color-disabled-ghost-red: var(--c-gray-90);
  --cell-button-border-color-disabled-ghost-red: transparent;

  // Sizes
  --cell-button-height-small: 32px;
  --cell-button-height-medium: 40px;
  --cell-button-height-large: 48px;

  --cell-button-font-size-small: 14px;
  --cell-button-font-size-medium: 15px;
  --cell-button-font-size-large: 16px;

  --cell-button-padding-small: 0 12px;
  --cell-button-padding-medium: 0 16px;
  --cell-button-padding-large: 0 20px;

  --cell-button-icon-size-small: 16px;
  --cell-button-icon-size-medium: 28px;
  --cell-button-icon-size-large: 36px;

  --cell-button-icon-padding-small: 0 7px;
  --cell-button-icon-padding-medium: 0 5px;
  --cell-button-icon-padding-large: 0 5px;

  --cell-button-border-radius: var(--global-border-radius-medium);


  // ==================
  // Checkbox
  // ==================

  --cell-checkbox-shadow: inset var(--global-input-shadow);
  --cell-checkbox-border-radius: 4px;
  --cell-checkbox-size: 16px;

  --cell-checkbox-border-width: 1px;

  --cell-checkbox-color: var(--c-gray-80);
  --cell-checkbox-color-hover: var(--c-green-100);
  --cell-checkbox-color-checked: var(--c-green-100);
  --cell-checkbox-color-checked-hover: var(--c-green-90);
  --cell-checkbox-color-disabled: var(--c-gray-80);

  --cell-checkbox-border: var(--cell-checkbox-border-width) solid var(--cell-checkbox-color);
  --cell-checkbox-border-hover: var(--cell-checkbox-border-width) solid var(--cell-checkbox-color-hover);
  --cell-checkbox-border-checked: var(--cell-checkbox-border-width) solid var(--cell-checkbox-color-checked);
  --cell-checkbox-border-checked-hover: var(--cell-checkbox-border-width) solid var(--cell-checkbox-color-checked-hover);
  --cell-checkbox-border-disabled: var(--cell-checkbox-border-width) solid var(--cell-checkbox-color-disabled);

  --cell-checkbox-background-color: transparent;
  --cell-checkbox-background-color-hover: transparent;
  --cell-checkbox-background-color-checked: var(--cell-checkbox-color-checked);
  --cell-checkbox-background-color-checked-hover: var(--cell-checkbox-color-checked-hover);
  --cell-checkbox-background-color-disabled: var(--cell-checkbox-color-disabled);

  --cell-checkbox-icon-color: var(--c-white-100);
}