:root {
  --c-gray-120: #27313B;
  --c-gray-110: #374E64;
  --c-gray-100: #677D91;
  --c-gray-90: #9EB1C1;
  --c-gray-80: #CAD5E0;
  --c-gray-70: #DEE5EC;
  --c-gray-60: #F6F8FA;

  --c-green-120: #246645;
  --c-green-110: #339162;
  --c-green-100: #40B87C;
  --c-green-90: #76CFA2;
  --c-green-80: #B5F2D3;
  --c-green-70: #D5F8E6;
  --c-green-60: #ECF8F2;

  --c-blue-120: #003E78;
  --c-blue-110: #0057A8;
  --c-blue-100: #006FD7;
  --c-blue-90: #41A3FF;
  --c-blue-80: #A7D4FF;
  --c-blue-70: #CDE7FF;
  --c-blue-60: #EBF4FC;

  --c-indigo-120: #2D2583;
  --c-indigo-110: #4034B8;
  --c-indigo-100: #5E51F4;
  --c-indigo-90: #7A6FEA;
  --c-indigo-80: #B6B1F4;
  --c-indigo-70: #CCC9F7;
  --c-indigo-60: #E7E5FB;

  --c-violet-120: #451683;
  --c-violet-110: #601FB6;
  --c-violet-100: #7C34DC;
  --c-violet-90: #A16DE6;
  --c-violet-80: #C8A2FB;
  --c-violet-70: #E0CAFD;
  --c-violet-60: #F4EBFF;

  --c-red-120: #A91F15;
  --c-red-110: #D2261A;
  --c-red-100: #E84E44;
  --c-red-90: #EF827A;
  --c-red-80: #FFC4BF;
  --c-red-70: #FFDCD9;
  --c-red-60: #FFEFEF;

  --c-orange-120: #AC5600;
  --c-orange-110: #DB6D00;
  --c-orange-100: #FF7F00;
  --c-orange-90: #FFA449;
  --c-orange-80: #FFC892;
  --c-orange-70: #FFDDBA;
  --c-orange-60: #FFEDDB;

  --c-yellow-120: #A47B00;
  --c-yellow-110: #D9A301;
  --c-yellow-100: #FFBF00;
  --c-yellow-90: #FFD65B;
  --c-yellow-80: #FFEB8C;
  --c-yellow-70: #FFF2B9;
  --c-yellow-60: #FFF8DB;

  --c-white-100: #FFFFFF;
  --c-black-100: #000000;
}
